<main class="product-page container">
  <img
    [ngSrc]="activeVariant().imageSrc"
    [attr.aria-label]="activeVariant().name + ' T-Shirt'"
    alt="T-shirt"
    width="300"
    height="326"
    priority
  />
  <section class="product-page__content" aria-labelledby="page-title">
    <div class="product-page__subtitle">T-SHIRT COMPANY</div>
    <h1 id="page-title" class="product-page__title">
      Summer Limited Edition T-Shirt
    </h1>
    <app-variant-selector
      [variants]="variants"
      [activeVariant]="activeVariant()"
      (variantSelected)="onVariantSelected($event)"
    />
    <div class="product-page__price">
      <span class="product-page__price-current">$19.99</span>
      <span class="product-page__price-discount">50%</span>
      <del class="product-page__price-original">$39.99</del>
    </div>
    <div class="product-page__cta">
      <button
        class="product-page__quantity-btn product-page__quantity-btn--decrement"
        type="button"
        (click)="updateQuantity(-1)"
      >
        <img ngSrc="assets/icons/icon-minus.svg" width="12" height="4" />
      </button>
      <input
        [(ngModel)]="quantity"
        type="number"
        class="product-page__quantity-input"
        min="1"
      />
      <button
        class="product-page__quantity-btn product-page__quantity-btn--increment"
        type="button"
        (click)="updateQuantity(1)"
      >
        <img ngSrc="assets/icons/icon-plus.svg" width="12" height="12" />
      </button>
      <button class="product-page__add-to-cart-btn" type="button">
        <img
          class="product-page__add-to-cart-icon"
          ngSrc="assets/icons/icon-cart.svg"
          width="16"
          height="16"
        />
        <span class="product-page__add-to-cart-label">Add to cart </span>
      </button>
    </div>
  </section>
</main>
